#!/bin/env bash

# MongoDB host
MONGODB_HOST=127.0.0.1
# MongoDB port
MONGODB_PORT=27017
# MongoDB database name
MONGODB_DB=mirador_aiiinotate

# HTTP port for the app
APP_PORT=4000
# URL for the app, inclding port
APP_HOST=http://127.0.0.1
# http scheme ('http' or 'https'). should be HTTP in dev and in docker.
APP_SCHEME=http

# IGNORE
APP_BASE_URL="$APP_HOST:$APP_PORT"
# IGNORE
MONGODB_CONNSTRING="mongodb://$MONGODB_HOST:$MONGODB_PORT/$MONGODB_DB"
# IGNORE
MONGODB_DB_TEST="${MONGODB_DB}_test"
# IGNORE
MONGODB_CONNSTRING_TEST="mongodb://$MONGODB_HOST:$MONGODB_PORT/$MONGODB_DB_TEST"
